In [1]:
from keras.datasets import mnist

Using TensorFlow backend.

In [2]:
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()

Downloading data from https://s3.amazonaws.com/img-datasets/mnist.npz
11493376/11490434 [==============================] - 1s 0us/step

In [3]:
train_images.shape

(60000, 28, 28)

In [4]:
len(train_labels)

60000

In [5]:
train_labels

array([5, 0, 4, ..., 5, 6, 8], dtype=uint8)

In [6]:
test_images.shape

(10000, 28, 28)

In [7]:
len(test_labels)

10000

In [8]:
test_labels

array([7, 2, 1, ..., 4, 5, 6], dtype=uint8)

In [9]:
from keras import models 
from keras import layers

network = models.Sequential()
network.add(layers.Dense(512, activation='relu', input_shape=(28*28,)))
network.add(layers.Dense(10,activation='softmax'))

WARNING:tensorflow:From C:\Users\Supriya\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [17]:
network.compile(optimizer='rmsprop',
                loss='categorical_crossentropy',
                metrics=['accuracy'])

### Preprocessing the Image Data

In [39]:
train_images = train_images.reshape((60000, 28 * 28 ))
train_images = train_images.astype('float32')/255

test_images = test_images.reshape((10000, 28 * 28 ))
test_images = test_images.astype('float32')/255

### Preparing the labels

In [40]:
from keras.utils import to_categorical

train_labels = to_categorical(train_labels)
test_labels = to_categorical(test_labels)

### Fitting the data

In [20]:
network.fit(train_images, train_labels, epochs = 5, batch_size = 128)

Epoch 1/5
60000/60000 [==============================] - 5s 78us/step - loss: 0.3074 - acc: 0.9116
Epoch 2/5
60000/60000 [==============================] - 5s 79us/step - loss: 0.2927 - acc: 0.9155
Epoch 3/5
60000/60000 [==============================] - 5s 78us/step - loss: 0.2803 - acc: 0.9186
Epoch 4/5
60000/60000 [==============================] - 5s 81us/step - loss: 0.2695 - acc: 0.9224
Epoch 5/5
60000/60000 [==============================] - 5s 79us/step - loss: 0.2590 - acc: 0.9255

In [21]:
test_loss, test_acc = network.evaluate(test_images, test_labels)
print('test_acc: ', test_acc)

10000/10000 [==============================] - 0s 45us/step
test_acc:  0.9251

### Instantiating a small convnet

In [33]:
from keras import layers
from keras import models

model = models.Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(28, 28, 1)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))

In [35]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 11, 11, 64)        18496
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 5, 5, 64)          0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 3, 3, 64)          36928
=================================================================
Total params: 55,744
Trainable params: 55,744
Non-trainable params: 0
_________________________________________________________________

### Flatten and adding classifier on top of the convnet

In [36]:
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(10, activation='softmax'))

In [37]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 11, 11, 64)        18496
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 5, 5, 64)          0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 3, 3, 64)          36928
_________________________________________________________________
flatten_4 (Flatten)          (None, 576)               0
_________________________________________________________________
dense_3 (Dense)              (None, 64)                36928
_________________________________________________________________
dense_4 (Dense)              (None, 10)                650
=================================================================
Total params: 93,322
Trainable params: 93,322
Non-trainable params: 0
_________________________________________________________________

In [42]:
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()
train_images = train_images.reshape((60000, 28, 28, 1))
train_images = train_images.astype('float32') / 255

test_images = test_images.reshape((10000, 28, 28, 1))
test_images = test_images.astype('float32') / 255

train_labels = to_categorical(train_labels)
test_labels = to_categorical(test_labels)


model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(train_images, train_labels, epochs=5, batch_size=64)

Epoch 1/5
60000/60000 [==============================] - 38s 631us/step - loss: 0.1643 - acc: 0.9485
Epoch 2/5
60000/60000 [==============================] - 41s 685us/step - loss: 0.0447 - acc: 0.9861
Epoch 3/5
60000/60000 [==============================] - 40s 669us/step - loss: 0.0317 - acc: 0.9905
Epoch 4/5
60000/60000 [==============================] - 42s 694us/step - loss: 0.0241 - acc: 0.9923
Epoch 5/5
60000/60000 [==============================] - 42s 707us/step - loss: 0.0194 - acc: 0.9945

### Evaluating the model on test data

In [43]:
test_loss, test_acc = model.evaluate(test_images, test_labels)
test_acc

10000/10000 [==============================] - 4s 369us/step

0.9907

In [51]:
model.predict(test_images)

pred = pd.DataFrame(model.predict(test_images ,batch_size=200))
pred = pd.DataFrame(pred.idxmax(axis = 1))
pred

      0
0     7
1     2
2     1
3     0
4     4
5     1
6     4
7     9
8     5
9     9
10    0
11    6
12    9
13    0
14    1
15    5
16    9
17    7
18    3
19    4
20    9
21    6
22    6
23    5
24    4
25    0
26    7
27    4
28    0
29    1
...  ..
9970  5
9971  2
9972  4
9973  9
9974  4
9975  3
9976  6
9977  4
9978  1
9979  7
9980  2
9981  6
9982  5
9983  0
9984  1
9985  2
9986  3
9987  4
9988  5
9989  6
9990  7
9991  8
9992  9
9993  0
9994  1
9995  2
9996  3
9997  4
9998  5
9999  6

[10000 rows x 1 columns]

In [47]:
import pandas as pd
test_pred = pd.DataFrame(model.predict(test_images ,batch_size=200))
test_pred = pd.DataFrame(test_pred.idxmax(axis = 1))
test_pred.index.name = 'ImageId'
test_pred = test_pred.rename(columns = {0: 'Label'}).reset_index()
test_pred['ImageId'] = test_pred['ImageId'] + 1

test_pred.head()

   ImageId  Label
0        1      7
1        2      2
2        3      1
3        4      0
4        5      4